@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
    font-family:'Arial Narrow', Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1000px;
    flex-direction: column;
}
.enmarcado{
    padding: 120px;
    background: rgb(16,51,94);
    width: 20vw;
    height: 40vh;
    color: white;
    font-family:'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
}
label{
    margin: 250px 30px 60px 120px;
    font-size: 25px;
    justify-content: start;
}

input{
    width: 500px;
    height: 50px;
    font-size: 25px;
}

.button{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px;
}
#Limpiar{
    margin: 10px;
    padding: 10px;
    background: red;
    color: white;
    width: 220px;
    
}
#Calcular{
    margin: 10px;
    padding: 10px;
    background:rgb(50,134,247);
    color: white;
    width: 220px;
}

.letras{
    margin: 15px;
    padding: 15px;
    display: block;
    align-self: flex-start;
}

p{
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    align-self: flex-start;

}

:root {
    --text: #000;
    --bg: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
     --text: #fff;
     --bg: #000;
                }
}